<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Drinker × Drinker</h1>
    <div class="my-3">
      <h2>お問い合わせ内容</h2>
    </div>
    <hr>
    <div class="my-8">
      <h2>
        Name: <%= @inquiry.name %><br>
        Email: <%= @inquiry.email %><br>
        Message: <%= @inquiry.message %>
      </h2>
    </div>
    <hr>
  </body>
</html>
