<div class="mt-5">
  <% @inquiries.each do |inquiry| %>
    <h4>ユーザ名: <%= inquiry.name %></h4>
    <h4>メールアドレス: <%= inquiry.email %></h4>
    <h4>お問い合わせ内容: <%= inquiry.message %></h4>
    <div class="text-right my-5">
      <%= link_to "削除する", admin_inquiry_destroy_path(inquiry), method: :delete, "data-confirm" => "お問い合わせ内容を本当に削除しますか？", class: "btn btn-warning" %>
    </div>
    <hr>
  <% end %>
</div>