<div class="notifications-page mt-3">
<%= render "search/search" %>
<div class="container">
  <div class="col-10 notifications-box">
    <h3 class="text-center notifications-heading">Notifications</h3>
      <%= link_to destroy_all_notifications_path, method: :delete do %>
        <div class="text-right">
          <i class="fas fa-trash" style="color: black;"></i>
          <h7 style="color: black;">全削除</h7>
        </div>
      <% end %>
      <hr>
    <% if @notifications.exists? %>
      <div>
        <%= render @notifications %>
        <div class="d-flex justify-content-center mb-5">
          <%= paginate @notifications %>
        </div>
      </div>
    <% else %>
      <h5>通知はありません。</h5>
    <% end %>
  </div>
</div>