<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Drinker × Drinker</h2>
    <h4>
      いつもご利用頂きまして、誠にありがとうございます！！<br>
      先月、最もいいね獲得数が多かった素敵な投稿を、ランキング形式でご紹介させていただきます！
    </h4>
    <hr>
    <div class="my-5">
      <h2>第1位</h2>
      <h3 class="my-3">
        ユーザ名:   〇〇様<br>
        投稿タイトル：<br>
        キャプチャー：<br>
        レビュー：<br>
        いいね獲得数：
      </h3>
    </div>
    <div class="my-5">
      <h2>第2位</h2>
      <h3 class="my-3">
        ユーザ名:   〇〇様<br>
        投稿タイトル：<br>
        キャプチャー：<br>
        レビュー：<br>
        いいね獲得数：
      </h3>
    </div>
    <div class="my-5">
      <h2>第3位</h2>
      <h3 class="my-3">
        ユーザ名:   〇〇様<br>
        投稿タイトル：<br>
        キャプチャー：<br>
        レビュー：<br>
        いいね獲得数：
      </h3>
    </div>
    <hr>
    <h4 class="my-5">
      いかがでしたでしょうか？ランクインされた方々、おめでとうございます！<br>
      今月もたくさんのお酒の投稿の投稿を元に、お酒好き同士の輪を繋げていきましょう！！
    </h4>
    <h4 class="my-5">
      今後とも Drinker × Drinkerを宜しくお願い致します。
    </h4>
  </body>
</html>
