$('.message').append("<p style='width: 200%; text-align: end; font-size: 20px; font-weight: 600; color: #00BB00; border-top: 2px solid #dee2e6; padding: 15px 13px 0 0;'><%= @chat.message %></p>");

$('input[type=text]').val("")