<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Drinker × Drinker</h2>
    <p><%= @user.name %> 様</p>
    <p>会員登録が完了しました。</p>
    <p>この度は『Drinker × Drinker』をご利用頂きまして、誠にありがとうございます！</p>
  </body>
</html>