<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>新着順</h2>
      <% if user_signed_in? %>
        <div class="text-right">
          <%= link_to 'Create', new_post_path, class: "btn btn-outline-success", data: {"turbolinks"=>false} %>
        </div>
      <% else %>
        <div class="text-right">
          <%= link_to 'Create', new_user_registration_path, class: "btn btn-outline-success", data: {"turbolinks"=>false} %>
        </div>
      <% end %>
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "posts/index", posts: @posts %>
      </div>
      <div class="d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>