<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to 'Create', new_post_path, class: "btn btn-outline-success" %>
      <div class="d-flex flex-wrap justify-content-center">
        <%= render "posts/index", posts: @posts %>
      </div>
    </div>
  </div>
</div>