<div class="container">
  <div class="page-header">
    <h2>お問い合わせ完了</h2>
  </div>
  <h5 class="my-5">お問い合わせ頂き、誠にありがとうございます。</h5>
  <div class="my-5 text-center">
    <h4><%= link_to "トップページへ", root_path %></h4>
</div>