/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

footer {
  height: 100px;
}

// ページ機能
.pagination a {
  background-color: yellow;
}

.pagination * {
  color: #F0F;
  margin: 40px 4px 0 4px;
  padding: 2px 0;
  border-radius: 2px;
  font-family: "nunito", sans-selif;
}

// フラッシュメッセージ
.notice {
 color: green;
}

// レビュー評価機能の星マーク
.star img {
  width: 20px;
  height: 20px;
}

// エラーメッセージ時にレイアウトが崩れないようにする
.field_with_errors {
  display: contents;
  input, text_area {
    @extend .is-invalid;
  }
}

select {
  /* styling */
  background-color: white;
  border: thin solid pink;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0em 3em 0em 1em;

  /* reset */

  margin: 0 5px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* arrows */

  background-image:
    linear-gradient(45deg, transparent 50%, green 50%),
    linear-gradient(135deg, green 50%, transparent 50%),
    linear-gradient(to right, orange, yellow);
  background-position:
    calc(100% - 14px) ,
    calc(100% - 9px) calc(0.5em + 2px),
    109% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

// アカウント作成時のエラーメッセージ
.sign-up-errors {
  color: #9966FF;
}

