table {
  table-layout: fixed;
}

th {
  width:200px;
  height: auto;
}

// チャットページ見出し
.chat-heading {
  margin-bottom: 30px;
  white-space: nowrap;
}

.chat-partner-message {
  text-align: left;
  margin: 6px 0;
  font-size: 20px;
  overflow-wrap: break-word;
}

p.chat-message {
  text-align: right;
  margin: 6px 0;
  font-size: 20px;
  overflow-wrap: break-word;
  color: #00BB00;
}
