.top-page {
  // background-color: #F5FFFA;
  background-image: image-url('top-background.jpg');
  background-size: cover;
  background-position: left bottom;
}

// 「Dinker×Drinker」(トップ画面)
.application-title-top {
  display: inline-block;
  font-style: italic;
  font-family: cursive;
  font-size: 80px;
  font-weight: 900;
  color: #FFFF11;
  text-shadow: 5px 5px 10px black;
}

// 「お酒専門のSNSサイト」
.application-title-sub {
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  font-size: 30px;
  color: black
}

// 「ランキング」
.ranking-title {
  margin: 30px auto 0 auto;
  display: inline-block;
  font-size: 50px;
  font-style: italic;
  font-family: cursive;
  font-weight: 900;
  color: black;
  white-space: nowrap;
}

// 第何位
.ranking-order {
  margin-bottom: 0;
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}

.ranking-post-box {
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

.ranking-user-name {
  color: black;
  font-weight: 500;
  font-size: 25px;
}

.fa-hand-point-right:before {
  content: "\f0a4";
  margin-right: 10px;
}

// ランキング画面（トップページ）の投稿タイトル
.ranking-post-title {
  color: #0000AA;
  font-weight: 600;
  font-size: 22px;
  margin-left: auto;
  margin-right: 30px;
}

// ランキング画面の投稿画像の背景
.ranking-post-img {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 20%);
}

.ranking-caption p {
  font-family: serif;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.ranking-review {
  margin: 0 20px;
  font-weight: 600;
  font-size: 25px;
  font-family: serif;
  color: orange;
}

.ranking-star img {
  width: 5%;
  height: 35px;
  margin-bottom: 13px;

}

.like-btn {
  color: #FF44FF;
  font-size: 25px;
}

.ranking-comment {
  font-size: 25px;
  color: #20B2AA;
  margin: 0 35px 0 18px;
}

.ranking-location {
  font-weight: 600;
  font-size: 25px;
  margin-left: auto;
  margin-right: 35px;
}

// アバウトページの見出し
.about-application-heading {
  width: 100%;
  margin: 100px auto;
  font-style: italic;
  font-family: cursive;
  font-size: 70px;
  font-weight: 900;
}

// アバウトページの見出しの「Drinker×Drinker」
.about-application-title {
  color: #FFFF00;
  text-shadow:
    1px 1px 0px #0000CD, -1px -1px 0px #0000CD,
    -1px 1px 0px #0000CD,  1px -1px 0px #0000CD,
    1px 0px 0px #0000CD, -1px  0px 0px #0000CD,
    0px 1px 0px #0000CD,  0px -1px 0px #0000CD;
}

.about-text {
  width: 100%;
  line-height:  50px;
  white-space: nowrap;
}

// アバウトページの新規登録/ログインリンク
.new-user-link {
  margin-top: 100px;
  font-size: 20px;
  white-space: nowrap;
}