.top-page {
  background-color: #F5FFFA;
}

// 「Dinker×Drinker」(トップ画面)
.application-title-top {
  display: inline-block;
  font-style: italic;
  font-family: cursive;
  font-size: 80px;
  font-weight: 900;
  color: #FFFF11;
  text-shadow: 2px 2px 10px #005FFF;
}

// 「お酒専門のSNSサイト」
.application-title-sub {
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  color: black
}

// 「ランキング」
.ranking-title {
  font-style: italic;
  font-family: cursive;
  font-weight: bold;
  font-size: 50px;
  color: #FFFF00;
  text-shadow:
    1px 1px 0px #CC66FF, -1px -1px 0px #CC66FF,
    -1px 1px 0px #CC66FF,  1px -1px 0px #CC66FF,
    1px 0px 0px #CC66FF, -1px  0px 0px #CC66FF,
    0px 1px 0px #CC66FF,  0px -1px 0px #CC66FF;
}

.fa-crown {
  font-size: 40px;
  color: #FFFF00;
  text-shadow:
    1px 1px 0px #CC66FF, -1px -1px 0px #CC66FF,
    -1px 1px 0px #CC66FF,  1px -1px 0px #CC66FF,
    1px 0px 0px #CC66FF, -1px  0px 0px #CC66FF,
    0px 1px 0px #CC66FF,  0px -1px 0px #CC66FF;
}

// 第何位
.ranking-order {
  font-family: serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}

.ranking-post-box {
  width: 100%;
  // border: 2px solid #00CC99;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
}

.ranking-user-name {
  color: black;
  font-weight: 600;
  font-size: 25px;
}

.fa-hand-point-right:before {
  content: "\f0a4";
  margin-right: 10px;
}

.ranking-post-title {
  color: #0000AA;
  font-weight: 600;
  font-size: 22px;
  margin-left: auto;
  margin-right: 30px;
}

// 投稿画像の背景
.ranking-post-img {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}


.ranking-caption {
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 30px;
  font-family: serif;
}

.ranking-review {
  margin: 0 20px;
  font-weight: 600;
  font-size: 25px;
  font-family: serif;
  color: orange;
}

.ranking-star img {
  width: 5%;
  height: 35px;
  margin-bottom: 13px;

}

.like-btn {
  color: #FF44FF;
  font-size: 25px;
}

.ranking-comment {
  font-size: 25px;
  color: #20B2AA;
  margin: 0 35px 0 18px;
}

.ranking-location {
  font-weight: 600;
  font-size: 25px;
  margin-left: auto;
  margin-right: 35px;
}