.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

th {
  width: 270px;
  height: auto;
  font-size: 20px;
}

td {
  font-size: 20px;
  overflow-wrap: break-word;
}

// トップページへ戻る（お問い合わせ完了画面）
.top-page-link {
  margin-top: 100px;
}

// 管理者権限お問い合わせ一覧ページのお問い合わせ内容
.chart-page p {
  margin-top: 0.5rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}