.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

th {
  width: 100%;
  white-space: nowrap;
  height: auto;
  font-size: 20px;
}

td {
  width: 100%;
  font-size: 20px;
  overflow-wrap: break-word;
}

// トップページへ戻る（お問い合わせ完了画面）
.top-page-link {
  margin-top: 100px;
}

// 管理者権限お問い合わせ一覧ページのお問い合わせ内容
.chart-page p {
  margin-top: 0.5rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}


@media screen and (min-width:768px) {
  th {
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  tr {
    display: flex;
    flex-wrap: wrap;
  }

  .inquiry-confirmation-button {
    text-align: center;
    margin-bottom: 50px;
  }
}