// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notifications-box {
  top: 50%;
  margin:0 auto;
}

.fa-circle {
  color: #FFD700;
  font-size: 25px;
  margin-right: -30px;
}

// .nav-item .notification-badge::before {
//   content: "●";
//   font-family: 'Courier New', Courier, monospace;
//   color: #008489;
//   position: relative;
//   top: -10px;
//   right: -0px;
//   font-size: 4px;
//   text-shadow: 0px 0px 2px #008489;
// }
