// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications-box {
  top: 50%;
  margin:0 auto;
}

.fa-circle {
  color: #FFD700;
  font-size: 25px;
  margin-right: -30px;
}

// 通知ページ　見出し
.notifications-heading {
  margin: 30px 0;
  font-size: 45px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFCC33	;
  color: #6600FF;
  white-space: nowrap;
}

@media screen and (max-width:768px) {
  .notifications-page .profile_image {
    width: 4rem;
    height: 4rem;
  }

  .notification-text {
    margin-top: 1rem;
    text-align: center;
  }
}