.post-index-page {
  background-color: #F5FFFA;
  padding-top: 20px;
}

// 「新着順」という文字
.new-arrival-title {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  font-size: 55px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #009900;
  color: #FFFF00;
}

.create-button {
  text-align: right;
  margin: 0 50px 20px 0;
}

// 1投稿の要素
.post-box {
  position: relative;
	padding-bottom: 6rem;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
}

.post-user-name {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

// 投稿タイトルのfont-awesome
.fa-hand-point-right:before {
  content: "\f0a4";
  margin-right: 10px;
}

.post-title {
  color: #0000AA;
  font-weight: 600;
  font-size: 19px;
}

// 投稿画像の背景
.post-background-img {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  height: auto;
  width: auto;
  max-width: 100%;
}

// 投稿画像
img post-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

.post-caption {
  overflow-wrap: break-word;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 26px;
  font-family: serif;
}

// レビュー（文字）
.post-review {
  font-weight: 600;
  font-size: 22px;
  font-family: serif;
  color: orange;
}

// 星
.post-star img {
  width: 6%;
  height: 28px;
  margin-bottom: 11px;

}

.like-btn {
  color: #FF44FF;
  font-size: 25px;
}

.like-btn-unlike {
  color: #D0B0FF;
  font-size: 25px;
}

.post-comment {
  font-size: 25px;
  color: #20B2AA;
  margin: 0 20px;
}

.post-location {
  font-weight: 600;
  font-size: 23px;
  margin-left: auto;
  margin-right: 20px;
}

// レビュー/コメント/いいね/場所をpost_boxの一番下に配置
.post-bottom-contents {
  position: absolute;
	bottom: 0;
	width: 100%;
}

// 投稿フォームページ　見出し
.post-new-heading {
  display: inline-block;
  font-size: 45px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFCC33	;
  color: #00CCCC;
  white-space: nowrap;
}

// 投稿編集ページ　見出し
.post-edit-heading {
  display: inline-block;
  font-size: 45px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFCC33	;
  color: #6600FF;
  white-space: nowrap;
}

// 新規投稿/投稿編集ページのラベル
.post-form-label {
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 5px;
}

// 新規投稿/投稿編集ページの星
#star.form-group.row img {
  width: 4%;
  height: 28px;
}

// 星5個（一塊）
.form-star {
  margin-left: 15px;
}

// タイトル/キャプション/場所/投稿者(各コンテンツタイトル)
.post-show-contents {
  white-space: nowrap;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}

// ユーザが入力した投稿内容
.post-show-input {
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 5px;
  overflow-wrap: break-word;
}


// 投稿詳細ページの星
.post-show-star img {
  font-size: 20px;
  padding-bottom: 6px;
}

// 投稿詳細ページのレビュー
.post-show-review {
  white-space: nowrap;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: #FFFF00;
  text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}

// コメントのカウント数
.post-show-comment {
  font-size: 24px;
}
