.search_page {
  width: 80%;
  margin: 0 auto;
}

// 検索結果ページの見出し
.search-heading {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-size: 47px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFFF00;
  color: #FF0066;
  white-space: nowrap;
}

// 検索窓
.search_form .form-inline {
  white-space: nowrap;
}

// 検索窓から検索ボタンまでの範囲
.search_form {
  margin-right: 50px;
}

@media screen and (max-width:768px) {
  .search_form {
    margin-right: 20px;
  }

  .search-heading {
    margin-bottom: 2rem;
  }

  // Createボタン
  .search-page .btn-lg {
    font-size: 0.8rem;
  }

  // Createボタンを囲んでいる範囲
  .search-page .create-button {
    margin-right: 0;
  }
}

@media screen and (max-width:425px) {
  .search_form {
    margin-right: 15px;
  }

  // 検索窓
  input#word.form-control {
    width: 13rem;
  }

  // 検索画面見出し
  .search-heading {
    font-size: 2.4rem;
  }

  // 検索結果がなかった時の本文
  .search-nothing-text h2 {
    font-size: 1.5rem;
  }
}