.search-heading {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-size: 47px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFFF00;
  color: #007700;
  white-space: nowrap;
}