// 検索結果ページの見出し
.search-heading {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  font-size: 47px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFFF00;
  color: #FF0066;
  white-space: nowrap;
}

// 検索窓から検索ボタンまでの範囲
.search_form {
  margin-right: 50px;
}

@media screen and (max-width:768px) {
  .search_form {
    margin-right: 20px;
  }
}

@media screen and (max-width:425px) {
  .search_form {
    margin-right: 15px;
  }

  // 検索窓
  input#word.form-control {
    width: 13rem;
  }
}