.user-profile-name {
  margin: 30px 0 0 100px;
  font-size: 70px;
  font-family: fantasy;
  font-weight: 900;
}

.profile_image {
  border: solid 2px #FF3399;
}

.introduction{
  font-size: 20px;
}

.introduction-border {
  width: 100%;
  height: 100px;
  margin: 0px auto;
  border-radius: 10px;
}

// 各コンテンツ＋カウント数
.user-contents-group {
  display: inline-block;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

// 投稿数/フォロー/フォロワー/総いいね数(各コンテンツ)
.user-show-contents {
  white-space: nowrap;
}

.content-count {
  white-space: nowrap;
  text-align: right;
}