.user-profile-name {
  margin: 30px 0 0 100px;
  font-size: 70px;
  font-family: fantasy;
  font-weight: 900;
}

.profile_image {
  border: solid 2px #FF3399;
}

// 「自己紹介」という文字
.introduction{
  font-size: 20px;
  white-space: nowrap;
}

// 自己紹介欄
.introduction-border {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #FFFFEE;
  color: #606060;
  box-shadow: 0 0 5px 1px #b2b2b2;
  border-left: 10px solid #191970;
  border-right: 10px solid #006699;
  border-radius: 0 50px 0 50px;
  overflow-wrap: break-word;
}

// 各コンテンツ＋カウント数
.user-contents-group {
  display: inline-block;
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

// 投稿数/フォロー/フォロワー/総いいね数(各コンテンツ)
.user-show-contents {
  white-space: nowrap;
}

// 投稿数/フォロー/フォロワー/総いいね数(各コンテンツ)の数字
.content-count {
  white-space: nowrap;
  text-align: right;
}

// ユーザ編集ページ　見出し
.user-edit-heading {
  display: inline-block;
  font-size: 45px;
  font-style: italic;
  font-family: serif;
  font-weight: 900;
  text-shadow: 3px 3px 10px #FFCC33	;
  color: #6600FF;
  white-space: nowrap;
}

// ユーザ編集ページのラベル
.user-form-label {
  font-family: serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

// ユーザ一覧の自己紹介
.user-index-introduction p {
  width: 100%;
  margin: 0 auto;
  font-family: serif;
  font-weight: 500;
  overflow-wrap: break-word;
}

@media screen and (max-width:768px) {

  .user-profile .col-md-6 {
    width: auto;
  }
  .user-profile-name {
    margin: 30px 0 0 0;
    font-size: 60px;
  }

  // プロフィール画像から.user-contents-groupまでの範囲
  .form-inline.user-contents-group {
    flex-flow: nowrap;
    width: 240px;
    padding-left: 20px;
  }
}

@media screen and (max-width:576px) {
  // flexboxを解除し、プロフィール画像を中央に配置
  .user-profile .row{
    display: block;
  }

  .user-profile-name {
    margin: 40px 0 0 25px;
  }

  .form-inline.user-contents-group {
    margin: 0 auto;
    padding: 10px 0 0 0;
  }

  // .user-contents-groupの範囲
  .user-profile .col-sm-6 {
    margin-top: 25px;
  }
}